@import '~antd/lib/style/themes/dark.less';
@import '~antd/dist/antd.dark.css';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
html{
  height: 100%;
  margin: 0;
  padding: 0;
}

.page_header_style {
  float: left;
  background: @black;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: @border-width-base @border-style-base @border-color-split;
  height: 64px;
}

.App {
  text-align: center;
}

.logo {
  height: 32px;
  margin: 14px;
}

.logo_text {
  font-family: 'Pacifico';
  font-size: xx-large;
  padding-bottom: 10px;
  color: @text-color;
  text-align: center;
}

.flow {
  height:100%;
}








